.consultation-phone-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 0.875rem;
	align-items: flex-start;
	justify-content: flex-start;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	margin-top: 1.5rem;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 220, 226, 1);
	border-radius: 0.5rem;
	width: 100%;
}
.consultation-phone-number-prefix {
	flex: 0 0 auto;
	padding-top: 1rem;
	font: 400 16px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	white-space: pre-wrap;
}
.consultation-phone-vertical-divider {
	box-sizing: border-box;
	flex: 0 0 auto;
	align-self: center;
	width: 0.0625rem;
	height: 3.1875rem;
	border-left: 1px solid #d9dce2;
}
.consultation-phone-input {
	box-sizing: border-box;
	flex: 1;
	padding-top: 1rem;
	font: 400 16px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	background: transparent;
	border: none;
	outline: none;
}

@media (max-width: 768px) {
	.consultation-phone-container {
		align-items: flex-start;
		padding: 10px;
		width: 100%;
	}
	.consultation-phone-number-prefix {
		padding-top: 0.5rem;
	}
	.consultation-phone-vertical-divider {
		display: none;
	}
	.consultation-phone-input {
		width: 100%;
		padding-top: 0.5rem;
	}
}
