.navbar-section {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
}
.navbar-logo {
	box-sizing: border-box;
	display: block;
	width: 3.813rem;
	max-width: initial;
	height: 3.813rem;
}
.navbar-info {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-left: 0.688rem;
}
.navbar-heading {
	flex: 0 0 auto;
	font: 700 2.625rem Cormorant, serif;
	color: rgba(91, 91, 91, 1);
	letter-spacing: 0.13rem;
	white-space: pre-wrap;
}
.navbar-paragraph {
	flex: 0 0 auto;
	margin-top: -0.063rem;
	font: 500 0.781rem/0.781rem Cormorant, serif;
	color: rgba(91, 91, 91, 1);
	white-space: pre-wrap;
}

@media (max-width: 768px) {
	.navbar-section {
		align-items: center;
	}
	.navbar-info {
		margin-left: 0;
		text-align: center;
	}
	.navbar-heading {
		font-size: 2rem;
	}
	.navbar-paragraph {
		font-size: 0.75rem;
	}
}
