.consultation-social-media-links-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: stretch;
  justify-content: flex-start;
  height: 41px;
  margin-top: 7.75px;
}
.consultation-card-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 8.5px;
  padding-left: 8px;
  background: rgba(40, 48, 56, 1);
  border-radius: 5.25px;
}
.consultation-svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
/* .consultation-form-container-social {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23.5px;
  align-items: stretch;
  justify-content: flex-start;
  width: 53.66%;
  padding-left: 15px;
} */
