.post-long-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	width: 100%;
	background: #fff;
	border-radius: 1.5rem;
	overflow: hidden;
	padding: 12px 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-long-image-container {
	flex: 0 0 350px;
	margin-right: 16px;
	max-height: 245px;
	transition: transform 0.3s ease-in-out;
}
.post-long-image-container:hover {
	transform: scale(1.5);
}
.post-long-image-container img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 12px;
	max-height: 245px;
}
.post-long-info-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px 16px 14.5px;
}
.post-long-info-section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.post-long-info-date-text-style {
	margin: 0;
	font-size: 16px;
	line-height: 19px;
	font-family: 'Inter', sans-serif;
	color: rgba(91, 110, 124, 1);
}
.post-long-info-title-style {
	margin: 0;
	font-size: 18px;
	line-height: 21.5px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	color: rgba(40, 48, 56, 1);
}
.post-long-info-block-text-style {
	margin: 0;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	color: rgba(40, 48, 56, 1);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.post-long-read-more-button-container {
	display: flex;
	justify-content: flex-start;
	gap: 0.75rem;
}
.post-long-read-more-btn {
	font-size: 16px;
	line-height: 19px;
	font-family: 'Inter', sans-serif;
	color: black;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	text-decoration: none;
}
.post-long-hide-btn {
	flex: 0 0 auto;
	font: 400 16px/19px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	white-space: pre-wrap;
	cursor: pointer;
	margin-top: 1rem;
}
.post-long-hide-button-container {
	display: flex;
	justify-content: flex-start;
}
.post-long-info-block-text-style.expanded {
	-webkit-line-clamp: unset;
}

@media (max-width: 768px) {
	.post-long-container {
		flex-direction: column;
		padding: 12px;
		width: 23.3125rem;
	}
	.post-long-image-container {
		flex: 0 0 auto;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.post-long-image-container img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.post-long-info-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.post-long-info-section {
		gap: 0.5rem;
	}
	.post-long-read-more-button-container {
		justify-content: flex-start;
	}
}
