.about-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 100%;
	padding: 2rem 5rem;
}
.about-info-block {
	box-sizing: border-box;
	flex: 0 1 594px;
}
.about-info-heading {
	box-sizing: border-box;
	width: 80%;
	font: 600 32px/35px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	text-align: left;
	white-space: pre-wrap;
}
.about-info-text1 {
	margin-top: 0.96875rem;
	font: 400 16px/23px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	text-align: left;
	white-space: pre-wrap;
	width: 78%;
}
.about-info-text2 {
	box-sizing: border-box;
	width: 100%;
	margin-top: 1rem;
	font: 400 16px/23px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	text-align: left;
	white-space: pre-wrap;
	width: 87%;
}

@media (max-width: 768px) {
	.about-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		min-width: auto;
	}
	.about-info-block {
		flex: 0 1 274px;
		padding-left: 1rem;
		margin-bottom: 1rem;
	}
	.about-info-heading {
		width: 100%;
		font-size: 22px;
		line-height: 28px;
	}
	.about-info-text1,
	.about-info-text2 {
		width: 100%;
		font-size: 14px;
		line-height: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1100px) {
	.about-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		min-width: auto;
	}
	.about-info-block {
		flex: 0 1 274px;
		padding-top: 2rem;
		padding-bottom: 0rem;
		padding-left: 1.5rem;
	}
	.about-info-heading {
		width: 100%;
		font-size: 22px;
		line-height: 28px;
	}
	.about-info-text1,
	.about-info-text2 {
		width: 100%;
		font-size: 14px;
		line-height: 20px;
	}
}
