.media-common-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	padding: 2rem 5rem;
}
.media-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}
.media-row {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
	align-items: center;
}
.media-common-heading {
	flex: 0 0 auto;
	padding-right: 4.5rem;
	padding-left: 6.75rem;
	padding-bottom: 1rem;
	font: 600 32px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	white-space: pre-wrap;
}

@media (max-width: 768px) {
	.media-container {
		flex-direction: column;
		padding: 12px;
	}
	.media-image-container {
		flex: 0 0 auto;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.media-image-container img {
		width: 100%;
		height: auto;
	}
	.media-common-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		width: 100%;
		padding: 0rem;
		padding-bottom: 3rem;
	}
	.media-row {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 768px) and (max-width: 1100px) {
	.media-container {
		flex-direction: column;
		padding: 12px;
	}
	.media-image-container {
		flex: 0 0 auto;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.media-image-container img {
		width: 100%;
		height: auto;
	}
	.media-common-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		width: 100%;
		padding: 0rem;
		padding-bottom: 3rem;
	}
}
