.consultation-fio-container {
	position: relative;
}
.consultation-header-input-container {
	display: flex;
	align-items: center;
	justify-content: start;
	height: 51px;
	font: 400 16px Inter, sans-serif;
	color: rgba(40, 48, 56, 1);
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 220, 226, 1);
	border-radius: 8px;
	transition: border-color 0.3s, background-color 0.3s;
}
.consultation-header-input-container.error {
	border-color: #ca5454;
	background-color: #fff4f4;
}
.consultation-input-style {
	width: 100%;
	color: rgba(40, 48, 56, 1);
	background: transparent;
	border: none;
	outline: none;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 14.52px;
	text-align: left;
	margin: 10px;
}
.consultation-error-text {
	color: #ca5454;
	font-size: 14px;
	position: absolute;
	bottom: -20px;
	left: 0;
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.52px;
	text-align: left;
}

@media (max-width: 768px) {
	.consultation-header-input-container {
		width: 100%;
	}
	.consultation-error-text {
		bottom: -18px;
		font-size: 12px;
	}
}
